/* Andy Bell's CSS Reset for this code 👇*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CSS Styles 👇 */
:root {
  /* Primary */
--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);
/* Accent */
--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);
/* Neutral */
--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);
}
body {
  background-color: white;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--Very-Dark-Blue);
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.wrapper a {
  text-decoration: none;
}
.card {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 15px;
  margin: 20px;
  background-color: white;
}
.card p {
  display: flex;
  flex-direction: column;
}
input {
  color: var(--Light-Grayish-Blue)
}
a {
  text-decoration: none;
}
.files {
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
  margin: 10px;
}
button {
  border-radius: 6px;
  padding: 10px;
  border: none;
  background-color: var(--Bright-Blue);
  color: var(--Light-Grayish-Blue);
}
input {
  padding: 6px;
}
.productive {
  display: flex; 
  flex-direction: column-reverse;
  padding: 15px;
  margin-top: 1em;
  background-image: url('bg-curve-mobile.svg');
}
.productive a {
  border-bottom: var(--Moderate-Cyan);
  color: var(--Moderate-Cyan);
}
.works {
  display: flex;
}
.access {
  display: flex;
  flex-direction: column;
  background-color: var(--Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
  padding: 15px;
}
.feeter {
  color: var(--Light-Grayish-Blue)
}
.feeter span {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.access input {
  color: var(--Light-Grayish-Blue);
}
footer {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  padding: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2em;
}
.feeter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul {
  list-style: none;
}
@media screen and (min-width: 37.5rem) {
  .wrapper {
    justify-content: space-between;
  }
  .files {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 15px;
  }
  .productive {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    background-image: url('bg-curve-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .access {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
 
